name: Monitoramento Automático de Logs

on:
  schedule:
    - cron: "*/5 * * * *"   # roda a cada 5 minutos
  workflow_dispatch:

jobs:
  executar-script:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar repositório
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Executar script de monitoramento
        run: |
          python script.py

      - name: Salvar logs como artefato
        uses: actions/upload-artifact@v3
        with:
          name: logs-monitorados
          path: logs_monitoramento.csv

